* {
  /* Xóa margin, padding và border mặc định */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
input,
button,
textarea,
select {
  font-family: inherit;
}
button {
  cursor: pointer;
}
body{
  background-image: url(Asset/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
.card{
  background-image: linear-gradient(to top, rgba(0, 100, 90, 0.7), #ffffff00);
  width: 220px;
  margin: auto;
  margin-top: 100px;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 4px 12px #437258d8;
  border-radius: 16px;
  backdrop-filter: blur(4px);
  transition: all 0.3s ease;
  transform: translateY(0);
}
.card:hover{
  transform: translateY(-8px); 
  box-shadow: 0px 12px 10px #437258d8; 
}
img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin: auto;
  margin-top: 40px;
  outline: 3px solid white;
  transition: all 0.3s ease;
  transform: scale(1);
}
img:hover{
  transform: scale(1.05);
}
.infor{
  text-align: center;
}
.name{
  color: rgb(255, 255, 255);
  font-weight:bolder;
  font-size: 20px;
  margin-top: 16px;
  margin-bottom: 8px;
}
.job{
  color: white;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 8px;
}
.disciption{
  color: rgba(255, 255, 255, 0.445);
  text-align: center;
  font-weight: light;
  font-size: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.Icon{
  text-align: center;
  margin-top: 14px;
  margin-bottom: 20px;
}
a{
  color: white;
  margin: 12px;
  background-color: rgba(255, 255, 255, 0.281);
  border-radius: 50%;
  padding-top: 4px;
  padding-bottom: 4px;
  object-fit: cover;
  box-shadow: 0px 2px 12px rgb(53, 104, 74);
  transition: all 0.3s ease;
}
a:hover{
  color: rgb(53, 104, 74);
  background-color: white;
}
.fa-facebook{
  padding: 5px;
}
.fa-linkedin-in{
  padding: 6px;
}
.fa-solid{
  padding: 5px;
}