*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
input,
textarea,
select {
  font-family: inherit;
}
button {
  cursor: pointer;
}
.back{
    background-color: rgb(203, 239, 255);
    height: 100%;
    width: 100%;
    border: rgb(203, 239, 255);
    padding: 10vh 0vh;
}
.card{
    position: relative;
    margin: 100px auto;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    width: 90px;
    height: 116px;
    box-shadow: 0px 4px 12px #b5b5b5;
}

img{
    border-radius: 6px 6px 0px 0px;
    width: 100%;
    overflow: hidden;
    height: cover;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding: 0px 0px 0px 6px;
    margin-top: 4px;
    margin-bottom: -2px;
    margin-bottom: 2px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 0px 0px 6px;
    font-size: 5px;
    margin-bottom: 2px;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-size: 6px;
    padding-left: 6px;
    margin-top:4px;
    margin-bottom: -4px;
}
button{
    color: white;
    background-color: #3399cc;
    border: 0px;
    font-size: 4px;
    border-radius: 2px;
    font-weight: bold;
    padding:3px 28px;
    margin-left: 6px;
    margin-right: 6px;
}
