* {
  /* Xóa margin, padding và border mặc định */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
input,
button,
textarea,
select {
  font-family: inherit;
}
button {
  cursor: pointer;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: auto;
  background-color: antiquewhite;
}
.card{
  margin: auto;
  width: 600px;
  background-color: white;
  margin-top: 40px;
  padding: 20px;
  border-radius: 20px;
  overflow: hidden ;
}
img{
  border-radius: 10px;
  object-fit: cover;
}
h1{
  margin-top: 6px;
  margin-bottom: 6px;
}
p{
  font-size: 14px;
  margin-top: 6px;
  margin-bottom: 6px;
}
.card_header h1{
  color: red;
}
.card_header p:last-child{
  color: rgb(0, 255, 21);
  font-weight: bold;
  font-size: 18px;
}
.card_review i{
  color: gold;
}
strong{
  font-weight: lighter;
  font-size: 14px;
}
.card_review strong{
  margin-left: 20px;
}
.card_type_1{
  background-color: rgba(149, 216, 255, 0.295);
  width: cover;
  font-size: 12px;
  margin-bottom: 10px;
  margin-right: 4px;
  padding: 4px 8px;
  border-radius: 8px;
  display: inline-block;
}
.card_type{
  margin-top: 10px;
  margin-bottom: 0px;
  width:400px;
}
.card_button{
  color: white;
  background-color: orangered;
  padding: 10px 16px;
  border-width: 0px;
  border-radius: 8px;
  margin-top: 6px;
}
h2{
  margin-top: 12px;
  margin-bottom: 8px;
}
ul{
  margin-left: 20px;
  list-style-type: disc;
}
.card_infor2{
  width: 400px;
}
.card_feature h2{
  color: deepskyblue;
}
.card_feature i{
  color: deepskyblue;
  font-size: 14px;
  margin-right: 4px;
}
.card_instruction h2{
  color: orange;
}
.card_instruction strong{
  color: rgb(169, 45, 218);
}
.card_instruction i{
  color: orange;
  font-size: 14px;
  margin-right: 4px;
}
.card_special_feature h2{
  color: red;
}
.card_special_feature i{
  color: red;
  font-size: 14px;
  margin-right: 4px;
}
.card_special_feature strong{
  color: rgb(2, 187, 79);
}
.card_share_icon{
  display: inline-block;
  margin-bottom: 0px;
  padding: 6px 12px;
  color: white;
  border-radius: 8px;
}
.card_share_icon:first-child{
  background-color: #0b5197;
}
.card_share_icon:nth-child(2){
  background-color: #00acee;
  margin-left: 8px;
}
.card_share_icon:nth-child(3){
  background-color: #c32aa3;
  margin-left: 8px;
}
textarea{
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.card_review2 button{
  background-color: rgb(25, 159, 204);
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  margin-top: 10px;
}
.related{
  width: 600px;
  margin: auto;
  margin-top: 20px;
}
.related_product{
  display: flex;
  align-items: center;
  height: 50px;
  margin-bottom: 10px;
}
.related_product img{
  object-fit: cover;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.related_product strong{
  display: inline-block;
  margin-top: 0px;
}
.price{
  color: rgb(0, 255, 34);
  font-weight: bold;
  margin-left: auto;
}